@page
@model Uzdevums2.Web.CreateModel

@{
    ViewData["Title"] = "Create a transaction";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@Html.HiddenFor(model => model.FinancialTransaction.FromUsername)

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.FinancialTransaction.FromUsername)
            <div class="form-group">
                @Html.LabelFor(model => model.FinancialTransaction.ToUsername)
                <input asp-for="FinancialTransaction.ToUsername" class="form-control" />
                <span asp-validation-for="FinancialTransaction.ToUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FinancialTransaction.Amount)
                <input asp-for="FinancialTransaction.Amount" class="form-control" />
                <span asp-validation-for="FinancialTransaction.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FinancialTransaction.IsLoan)
                <input asp-for="FinancialTransaction.IsLoan" class="form-control" />
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FinancialTransaction.Description)
                <input asp-for="FinancialTransaction.Description" class="form-control" />
                <span asp-validation-for="FinancialTransaction.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-page="/Index" asp-area="Transactions">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
