@page
@model Uzdevums2.Web.DetailsModel

@{
    ViewData["Title"] = "Financial transaction details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<div>
    <hr />
    <dl class="row">
        @if (Model.IsOutgoing)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FinancialTransaction.ToUsername)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FinancialTransaction.ToUsername)
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FinancialTransaction.FromUsername)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FinancialTransaction.FromUsername)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinancialTransaction.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinancialTransaction.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinancialTransaction.IsLoan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinancialTransaction.IsLoan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinancialTransaction.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinancialTransaction.Description)
        </dd>
    </dl>
</div>
<div>
    @if (Model.IsOutgoing)
    {
        <a asp-area="Transactions" asp-route-id="@Model.FinancialTransaction.FinancialTransactionId" asp-page="/Edit">Edit</a>
    }
    <a asp-area="Transactions" asp-page="/index">Back to List</a>
</div>
