@page
@model Uzdevums2.Web.IndexModel

@{
    ViewData["Title"] = "My financial transactions";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="col-md-4">
        <p>Currently loaned: @Html.DisplayFor(model => model.Loan)&euro;</p>
    </div>
    <div class="col-md-4">
        <p>Current debt: @Html.DisplayFor(model => model.Debt)&euro;</p>
    </div>
    <div class="col-md-4">
        <p>Total balance: @Html.DisplayFor(model => model.TotalBalance)&euro;</p>
    </div>
</div>
<div>
    <a asp-area="Transactions" asp-page="/create">Create a new transaction</a>
</div>
<div>
    <h2>Outgoing transactions</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OutgoingFinancialTransactions[0].ToUsername)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OutgoingFinancialTransactions[0].Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OutgoingFinancialTransactions[0].IsLoan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OutgoingFinancialTransactions[0].Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OutgoingFinancialTransactions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToUsername)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)&euro;
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.IsLoan)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-page="/Edit" asp-area="Transactions" asp-route-id="@item.FinancialTransactionId">Edit</a> |
                        <a asp-page="/Details" asp-area="Transactions" asp-route-id="@item.FinancialTransactionId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <h2>Incoming transactions</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IncomingFinancialTransactions[0].ToUsername)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IncomingFinancialTransactions[0].Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IncomingFinancialTransactions[0].IsLoan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IncomingFinancialTransactions[0].Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.IncomingFinancialTransactions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FromUsername)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)&euro;
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.IsLoan)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-page="/Edit" asp-area="Transactions" asp-route-id="@item.FinancialTransactionId">Edit</a> |
                        <a asp-page="/Details" asp-area="Transactions" asp-route-id="@item.FinancialTransactionId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>